<html>
<head>
    <title>Web Console</title>
    <!-- CSS link section -->
    <link rel="stylesheet" href="KendoUI/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="KendoUI/styles/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- <link rel="stylesheet" href="KendoUI/styles/kendo.default.min.css" /> -->
    <!-- Script section (using AngularJS, call API when retriving data) -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script> -->
    <script src="KendoUI/js/jquery.min.js"></script>
    <script src="KendoUI/js/angular.min.js"></script>
    <script src="KendoUI/js/jszip.min.js"></script>
    <script src="KendoUI/js/kendo.all.min.js"></script>
    <script src="console.js"></script>
</head>
<body ng-app="homeScript" ng-controller="Asset1Ctrl">
    <div class="container">
        <div id="sidebar">

            <div id="kendo_menu">
                <div id="menu_head_text"> MENU </div>
            </div>

            <div kendo-tree-view="sideTree" id="sideTree"
                 k-options="sideTreeOptions"
                 k-ng-delay="sideTreeOptions.dataSource"
                 k-on-change="sideTreeSelectedItem = dataItem">
            </div>

            <div id="kendoWindow"
                 kendo-window="aboutWindow"
                 k-options="aboutWindowOptions">
                <img src="img/logo.jpg" alt="Logo" width="236" height="204"> <br>
                Chinese YMCA of HK Volunteer Service Record <br>
                Web Console v0.1 <br>
                <button kendo-button ng-click="aboutWindow.close()">OK</button>
            </div>

            <script type="text/x-kendo-template" id="sideTreeTemplate">
                <div id="sideTreeItem">
                    <span ng-click='sidebar_tree_click(dataItem)'>{{dataItem.text}}</span>
                </div>
            </script>
        </div>

        <div id="header">
            <img src="img/Logo_CE.jpg" alt="Logo"> <br>
        </div>

        <div id="content">

            <div ng-show="show_eventGrid">
                <div kendo-grid="eventGrid" id="eventGrid"
                     k-options="evnetGridOptions(dataItem)"
                     k-ng-delay="evnetGridOptions(dataItem).dataSource">
                </div>
            </div>

            <div ng-show="show_userGrid">
                <div kendo-grid="userGrid" id="userGrid"
                     k-options="userGridOptions(dataItem)"
                     k-ng-delay="userGridOptions(dataItem).dataSource">
                </div>
            </div>

            <div ng-show="show_staffGrid">
                <div kendo-grid="staffGrid" id="staffGrid"
                     k-options="staffGridOptions(dataItem)"
                     k-ng-delay="staffGridOptions(dataItem).dataSource">
                </div>
            </div>

            <div ng-show="show_rankGrid">
                <div kendo-grid="rankGrid" id="rankGrid"
                     k-options="rankGridOptions(dataItem)"
                     k-ng-delay="rankGridOptions(dataItem).dataSource">
                </div>
            </div>

            <div ng-show="show_eventRankGrid">
                <div kendo-grid="eventRankGrid" id="eventRankGrid"
                     k-options="eventRankGridOptions(dataItem)"
                     k-ng-delay="eventRankGridOptions(dataItem).dataSource">
                </div>
            </div>

            <div ng-show="show_importTab">
                <div kendo-tab-strip id="importTab" k-options="importTabOptions">
                    <ul>
                        <li class="k-state-active">Import files</li>
                    </ul>

                    <div style="height:auto">
                        <h1>Import File:</h1>
                        <h4>Note: Once you upload file, process start automatically.</h4>
                        <h4>Supported file types: *.xls, *.xlsx</h4>
                        <input ng-hide="true" id="import_log" class="k-checkbox" name="import_log" type="checkbox" />
                        <label ng-hide="true" class="k-checkbox-label" for="import_log" style="margin-right: 20px;">Display Log</label>
                        <input ng-hide="true" id="import_excel" class="k-checkbox" name="import_excel" type="checkbox" />
                        <label ng-hide="true" class="k-checkbox-label" for="import_excel" style="margin-right: 20px;">Output As Excel</label>
                        <input id="import_db" class="k-checkbox" name="import_db" type="checkbox" />
                        <label class="k-checkbox-label" for="import_db" style="margin-right: 20px;">Write To Database (caution)</label>
                        <input ng-show="true"
                               kendo-upload="ImportUploadDocs" id="ImportUploadDocs"
                               k-options="ImportUploadDocsOptions(dataItem)"
                               name="docs"
                               type="file" /> <br>
                        <a id="import_file" download="preview.xlsx" ng-href="{{import_fileUrl}}">Click to download the preview Excel File ({{import_fileUrl}})</a>
                        <h4>Logfile:</h4><br>
                        <textarea class="k-textbox" id="import_output" ng-model="import_output" rows="80" cols="40" style="width: 100%; height: 480px; overflow: scroll"></textarea>
                    </div>
                </div>
            </div>

            <div ng-show="show_exportTab">
                <div kendo-tab-strip id="exportTab" k-options="exportTabOptions">
                    <ul>
                        <li class="k-state-active">Volunteer List</li>
                        <li>Scheme List</li>
                        <li>Volunteer Attendancy</li>
                        <li>Volunteer Checklist</li>
                    </ul>

                    <div style="height:auto">
                        <form class="assetMainLinkGrid_editorForm">
                            <ul>
                                <li>
                                    <h4>Filter parameter (Optional):</h4>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">School:</span>
                                        <select kendo-drop-down-list="export_VL_school_DropDownList" id="export_VL_school_DropDownList"
                                                k-options="userUSTSchoolDropDownListOptions(dataItem)"
                                                k-ng-delay="userUSTSchoolDropDownListOptions(dataItem).dataSource"
                                                ng-model="export_VL_school"
                                                data-required-msg="Select School"></select>
                                    </label>
                                </li>
                                <li ng-hide="true">
                                    <label>
                                        <span class="label">Gender:</span>
                                        <select kendo-drop-down-list="export_VL_gender_DropDownList" id="export_VL_gender_DropDownList"
                                                k-options="userGenderDropDownListOptions(dataItem)"
                                                k-ng-delay="userGenderDropDownListOptions(dataItem).dataSource"
                                                ng-model="export_VL_Gender"
                                                data-required-msg="Select Gender"></select>
                                    </label>
                                </li>
                                <li ng-hide="true">
                                    <label>
                                        <span class="label">English name:</span>
                                        <input class="k-textbox" ng-model="export_VL_nameEng" />
                                    </label>
                                </li>
                                <li>
                                    <kendo-button id="export_VL_BTN" ng-click="export_VL_Export()">Export</kendo-button>
                                </li>
                            </ul>
                        </form>
                    </div>

                    <div style="height:auto">
                        <form class="assetMainLinkGrid_editorForm">
                            <ul>
                                <li>
                                    <h4>Filter parameter (Optional):</h4>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">Program Code:</span>
                                        <input class="k-textbox" ng-model="export_SL_Code" />
                                    </label>
                                </li>
                                <li>
                                    <kendo-button id="export_SL_BTN" ng-click="export_SL_Export()">Export</kendo-button>
                                </li>
                            </ul>
                        </form>
                    </div>

                    <div style="height:auto">
                        <form class="assetMainLinkGrid_editorForm">
                            <ul>
                                <li>
                                    <h4>Filter parameter (Optional):</h4>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">Period From:</span>
                                        <input kendo-date-picker k-ng-model="export_VA_From"/>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">Period To:</span>
                                        <input kendo-date-picker k-ng-model="export_VA_To" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">Student number:</span>
                                        <input class="k-textbox" ng-model="export_VA_STID" />
                                    </label>
                                </li>
                                <li>
                                    <kendo-button id="export_VA_BTN" ng-click="export_VA_Export()">Export</kendo-button>
                                </li>
                            </ul>
                        </form>
                    </div>

                    <div style="height:auto">
                        <form class="assetMainLinkGrid_editorForm">
                            <ul>
                                <li>
                                    <h4>Filter parameter (Optional):</h4>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">Program Code:</span>
                                        <input class="k-textbox" ng-model="export_VC_Code" />
                                    </label>
                                </li>
                                <li>
                                    <kendo-button id="export_VC_BTN" ng-click="export_VC_Export()">Export</kendo-button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>

            <script type="text/x-kendo-template" id="userGridEditor">
                <div kendo-tab-strip id="assetGrid_tab" k-options="assetGridTabOptions">
                    <ul>
                        <li class="k-state-active">Basic information</li>
                        <li>System-related information</li>
                    </ul>

                    <div style="height:auto">
                        <form kendo-validator class="assetGrid_editorFormL">
                            <ul>
                                <li>
                                    <label>
                                        <span class="label required">English Name:</span>
                                        <input id="user_name_eng" class="k-textbox" name="name_eng" placeholder="English Name"
                                               required validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">Chinese Name:</span>
                                        <input id="user_name_chi" class="k-textbox" name="name_chi" placeholder="Chinese Name"
                                               validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">Nick Name:</span>
                                        <input id="user_name_nick" class="k-textbox" name="name_nick" placeholder="Nick Name"
                                               validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">Gender:</span>
                                    </label>
                                    <select kendo-drop-down-list="user_gender_DropDownList" id="user_gender_DropDownList"
                                            k-options="userGenderDropDownListOptions(dataItem)"
                                            k-ng-delay="userGenderDropDownListOptions(dataItem).dataSource"
                                            ng-model="dataItem.gender" required
                                            data-required-msg="Select Gender"></select>
                                    <span class="k-invalid-msg" data-for="gender"></span>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">Phone Number:</span>
                                        <input id="user_phoneNo" class="k-textbox" name="phoneNo" placeholder="Phone Number"
                                               required validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">Preferred Email:</span>
                                        <input id="user_email" class="k-textbox" name="email" placeholder="Preferred Email"
                                               required validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">UniY Membership No:</span>
                                        <input id="user_UniYID" class="k-textbox" name="UniYID" placeholder="Membership No"
                                               required validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">Launguage:</span>
                                    </label>
                                    <select kendo-drop-down-list="user_launguage_DropDownList" id="user_launguage_DropDownList"
                                            k-options="userLaunguageDropDownListOptions(dataItem)"
                                            k-ng-delay="userLaunguageDropDownListOptions(dataItem).dataSource"
                                            ng-model="dataItem.Launguage" required
                                            data-required-msg="Select Launguage"></select>
                                    <span class="k-invalid-msg" data-for="Launguage"></span>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">Membership Effective To:</span>
                                        <input id="user_effectiveTo" class="kendo-date-picker" name="effectiveTo" placeholder="Effective To"
                                               required validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">Created At:</span>
                                        <input id="user_date" class="kendo-date-picker" name="date" placeholder="Created At"
                                               validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                            </ul>
                        </form>

                        <form kendo-validator class="assetGrid_editorFormR">
                            <ul>
                                <li>
                                    <h3>UST information:</h3>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">Student Number:</span>
                                        <input id="user_UST_stid" class="k-textbox" name="UST_stid" placeholder="Student Number"
                                               required validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">ITSC:</span>
                                        <input id="user_UST_itsc" class="k-textbox" name="UST_itsc" placeholder="ITSC"
                                               required validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">School:</span>
                                    </label>
                                    <select kendo-drop-down-list="user_ust_school_DropDownList" id="user_ust_school_DropDownList"
                                            k-options="userUSTSchoolDropDownListOptions(dataItem)"
                                            k-ng-delay="userUSTSchoolDropDownListOptions(dataItem).dataSource"
                                            ng-model="dataItem.UST_school" required
                                            data-required-msg="Select School"></select>
                                    <span class="k-invalid-msg" data-for="UST_school"></span>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">Year Of Study:</span>
                                        <input id="user_UST_yearOfStudy" class="k-textbox" name="UST_yearOfStudy" placeholder="Year Of Study"
                                               required validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <h3>Emergency Contect Person:</h3>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">Name:</span>
                                        <input id="user_EmergencyContact_Name" class="k-textbox" name="EmergencyContact_Name" placeholder="Name"
                                               required validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">Relationship:</span>
                                        <input id="user_EmergencyContact_Relationship" class="k-textbox" name="EmergencyContact_Relationship" placeholder="Relationship"
                                               required validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label required">Phone Number:</span>
                                        <input id="user_EmergencyContact_Tel" class="k-textbox" name="EmergencyContact_Tel" placeholder="Phone Number"
                                               required validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">Leftover Score:</span>
                                        {{dataItem.points}}
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">Award earned:</span>
                                        {{dataItem.rank_name_eng}}
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label"></span>
                                        <input id="user_verified" class="k-checkbox" name="verified" type="checkbox"
                                               validationmessage="Please enter {0}" />
                                        <label class="k-checkbox-label" for="user_verified">Verified</label>
                                    </label>
                                </li>
                            </ul>
                        </form>
                    </div>

                    <div style="height:auto">
                        <form kendo-validator class="assetGrid_editorFormL">
                            <ul>
                                <li>
                                    <label>
                                        <span class="label">MongoDB ID:</span>
                                        {{dataItem._id}}
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">User Password:</span>
                                        <input id="user_password" class="k-textbox" name="password" type="password"
                                               validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">Token:</span>
                                        <input id="user_token" class="k-textbox" name="token"
                                               validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                            </ul>
                        </form>

                        <form kendo-validator class="assetGrid_editorFormR">
                            <ul>
                                <li>
                                    <label>
                                        <span class="label">Last checked Date:</span>
                                        <input id="user_lastDate" class="kendo-date-picker" name="lastDate" placeholder="Last checked Date"
                                               validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label">Last checked IP:</span>
                                        <input id="user_lastIP" class="k-textbox" name="lastIP"
                                               validationmessage="Please enter {0}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="label"></span>
                                        <input id="user_disabled" class="k-checkbox" name="disabled" type="checkbox"
                                               validationmessage="Please enter {0}" />
                                        <label class="k-checkbox-label" for="user_disabled">Disabled</label>
                                    </label>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </script>

            <script type="text/x-kendo-template" id="eventRankGridEditor">
                ASDASDASD
            </script>


            <script type="text/x-kendo-template" id="eventGridDetail">
                <div kendo-tab-strip id="evnetGridDetailTab" k-options="evnetGridDetailTabOptions">
                    <ul>
                        <li class="k-state-active">Event Sessions</li>
                        <li>Registration Info</li>
                    </ul>

                    <div style="height:auto">
                        <div kendo-grid="eventSessionGrid" id="eventSessionGrid"
                             k-options="eventSessionGridOptions(dataItem)"
                             k-ng-delay="eventSessionGridOptions(dataItem).dataSource">
                        </div>
                    </div>

                    <div style="height:auto">
                        <div kendo-grid="eventRegGrid" id="eventRegGrid"
                             k-options="eventRegGridOptions(dataItem)"
                             k-ng-delay="eventRegGridOptions(dataItem).dataSource">
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/x-kendo-template" id="eventSessionGridDetail">
                <div kendo-tab-strip id="evnetSessionGridDetailTab" k-options="evnetSessionGridDetailTabOptions">
                    <ul>
                        <li class="k-state-active">QR code</li>
                        <li>Attandance records</li>
                    </ul>
                    <div>
                        <div>
                            <h1>QR code for Check In [{{dataItem.event_EventID}} - {{dataItem.SessionID}}]:</h1> <br>
                            <span ng-hide="true">{{dataItem.checkInToken}}</span>
                            <img src="qr/checkin/{{dataItem.checkInToken}}" alt="QR_CODE_IN"> <br>
                        </div>
                        <div>
                            <h1>QR code for Check Out [{{dataItem.event_EventID}} - {{dataItem.SessionID}}]:</h1> <br>
                            <span ng-hide="true">{{dataItem.checkOutToken}}</span>
                            <img src="qr/checkout/{{dataItem.checkOutToken}}" alt="QR_CODE_OUT"> <br>
                        </div>
                    </div>
                    <div style="height:auto">
                        <div kendo-grid="eventRecordGrid" id="eventRecordGrid"
                             k-options="eventRecordGridOptions(dataItem)"
                             k-ng-delay="eventRecordGridOptions(dataItem).dataSource">
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/x-kendo-template" id="eventRecordGridDetail">
                <div kendo-tab-strip id="evnetRecordGridDetailTab" k-options="evnetRecordGridDetailTabOptions">
                    <ul>
                        <li class="k-state-active">Check in/out records</li>
                    </ul>
                    <div style="height:auto">
                        <div kendo-grid="checkRecordGrid" id="checkRecordGrid"
                             k-options="checkRecordGridOptions(dataItem)"
                             k-ng-delay="checkRecordGridOptions(dataItem).dataSource">
                        </div>
                    </div>
                </div>
            </script>

        </div>

        <div id="footer">
        </div>

    </div>

    <script>
        console.log("HTML Loaded");
    </script>
</body>
</html>
