<!DOCTYPE html>
<html>
  <head>
    <title> <%= message %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1> <%= message %> </h1>
    <h1> <%= error.status %> </h1>	
    <p>
    	<%= error.stack %>
	</p>
  </body>
</html>