﻿extends layout

block content
    h1= title

    h2 Event
    h3= event.name
    h4= event.date
    h4= event.end

    img(src='/qr/' + event.token)

    h2 Records
    each record in eventRecords
        h4
            a(href='/user/' + record.user._id)= record.user.name + ' ' + record.user.engName
        h4= record.joinTime
        h4= record.leaveTime
        a(href='/eventRecords/' + record._id + '/delete') Delete Record

    div
        a(href='/') Back

    form
        input(name='itsc',placeholder='ITSC')
        br
        input(name='hours',type='number',placeholder='Hours', step='0.5')
        br
        input(type='submit')
