﻿<!DOCTYPE html>
<html>
  <head>
    <title>QR Code of <%= session.event.name_eng%> Session <%= session.name_eng%></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h2>Name: <%= session.event.name_eng%></h2>
    <h2>Session: <%= session.name_eng%></h2>
    <h2>Time: <%= session.startTime%> - <%= session.endTime%></h2>
    <h2>Location: <%= session.location%></h2>
    <h3>For Check In</h3>
    <img src="/qr/checkin/<%= session.checkInToken%>" />
    <h3>For Check Out</h3>
    <img src="/qr/checkout/<%= session.checkOutToken%>" />
  </body>
</html>